.footer {
  background-color: #141414;
}

.top-footer {
  background-image: url(/img/footer/background.png);
}

.top-footer_content {
  padding: 60px 0;
}
.top-footer_title {
  color: #e8aa31;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 46px;
}
.top-footer_text {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.main-footer_content {
  padding-top: 100px;
}
.main-footer_lists {
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-right: 19.06%;
}
.main-footer_information {
  max-width: 250px;
}
.footer_information-title {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.main-footer_link a {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.8);
  opacity: 80%;
}

.main-footer_link:not(:last-child) {
  margin-bottom: 20px;
}

.main-footer_interactions {
  margin-top: 65px;
}
.footer_interactions-lists {
  display: flex;
  gap: 7.5%;
}

.footer_interactions-list:not(:last-child) {
  max-width: 250px;
}

.footer_interactions-title {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 30px;
}

.interactions-list_content,
a {
  color: rgba(255, 255, 255, 0.8);
  opacity: 80%;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
}

.interactions-list_content:not(:last-child) {
  margin-bottom: 15px;
}

.interactions-list_ico {
  margin-right: 15px;
}

.list_txt-container {
  display: flex;
  flex-direction: column;
}

._rules a {
  color: #e8aa31;
}

.interactions-list_form {
  display: flex;
  margin-bottom: 20px;
}

.interactions-list_input {
  border: 1px #fff solid;
  border-radius: 3px;
  width: 300px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.05);
}

.interactions-list_input::placeholder {
  padding-left: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.interactions-list_btn {
  height: 50px;
  width: 50px;
  background: #e8aa31;
  align-items: center;
  color: #fff;
  font-size: 30px;
  border-radius: 3px;
}

.footer_interactions-social {
  margin-top: 30px;
  display: flex;
  gap: 21px;
}

.check {
  margin-right: 20px;
}

.bot-footer {
  margin-top: 60px;
  padding-bottom: 50px;
}

.bot-footer_content {
  display: flex;
  justify-content: space-between;
}

.bot-footer_description {
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.8);
  opacity: 80%;
  max-width: 817px;
}

@media (max-width: 1299px) {
  .top-footer_content {
    padding: 30px 0;
  }
  .main-footer_content {
    padding-top: 50px;
  }
  .main-footer_interactions {
    margin-top: 35px;
  }
  .interactions-list_input {
    width: 250px;
  }
  .bot-footer {
    margin-top: 40px;
    padding-bottom: 25px;
  }
}

@media (max-width: 1099px) {
  .main-footer_lists {
    margin-right: 5%;
    flex-wrap: wrap;
    gap: 20px;
  }

  .main-footer_information {
    padding: 0 5px;
  }

  .footer_information-title {
    font-size: 18px;
    line-height: 22px;
  }
  .footer_interactions-lists {
    flex-wrap: wrap;
    gap: 20px;
  }
  .footer_interactions-list {
    padding: 0 5px;
  }
  .bot-footer_content {
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (max-width: 699px) {
  .top-footer_title {
    font-size: 20px;
    line-height: 32px;
    text-align: center;
  }
  .top-footer_text {
    font-size: 16px;
    line-height: 24px;
  }
  .interactions-list_input {
    width: 220px;
  }
}
